{:linters {:unresolved-symbol {:exclude [(malli.core/=>)]},
           :type-mismatch {:namespaces {prspct.schemas {simple-message->eml {:arities {1 {:args [:any], :ret :string}}},
                                                        eml->simple-message {:arities {1 {:args [:string], :ret :any}}},
                                                        context->internal-context {:arities {1 {:args [:any],
                                                                                                :ret :vector}}},
                                                        internal-context->context {:arities {1 {:args [:vector],
                                                                                                :ret :any}}}},
                                        prspct.message-transfer {source-config {:arities {1 {:args [:any], :ret :any}}},
                                                                 source-fetch! {:arities {2 {:args [:any :string],
                                                                                             :ret {:op :keys,
                                                                                                   :req {:transfer-result/success? :boolean,
                                                                                                         :transfer-result/exception :any,
                                                                                                         :transfer-result/out :string,
                                                                                                         :transfer-result/err :string}}}}},
                                                                 publisher-config {:arities {1 {:args [:any], :ret :any}}},
                                                                 publisher-publish! {:arities {2 {:args [:any :string],
                                                                                                  :ret {:op :keys,
                                                                                                        :req {:transfer-result/success? :boolean,
                                                                                                              :transfer-result/exception :any,
                                                                                                              :transfer-result/out :string,
                                                                                                              :transfer-result/err :string}}}}},
                                                                 load-fetch {:arities {1 {:args [:string], :ret :any}}},
                                                                 write-edn-message-envelopes! {:arities {2 {:args [:vector
                                                                                                                   :string],
                                                                                                            :ret :map}}}},
                                        prspct.publication {publish-identity->ssh-key-id {:arities {1 {:args [{:op :keys,
                                                                                                               :req {:name :string,
                                                                                                                     :email :string,
                                                                                                                     :ssh-key-id/public-key-path :string,
                                                                                                                     :ssh-key-id/private-key-path :string}}],
                                                                                                       :ret :any}}},
                                                            publishable-relations {:arities {2 {:args [:any
                                                                                                       {:op :keys,
                                                                                                        :req {:context :vector,
                                                                                                              :relations :vector,
                                                                                                              :context-config {:op :keys,
                                                                                                                               :opt {:publish-configs :vector}}}}],
                                                                                                :ret :vector}}},
                                                            relations-publication {:arities {4 {:args [{:op :keys,
                                                                                                        :opt {:publication-validity-seconds :int},
                                                                                                        :req {:publisher :keyword,
                                                                                                              :identity :keyword}}
                                                                                                       {:op :keys,
                                                                                                        :req {:name :string,
                                                                                                              :email :string,
                                                                                                              :ssh-key-id/public-key-path :string,
                                                                                                              :ssh-key-id/private-key-path :string}}
                                                                                                       :any
                                                                                                       :vector],
                                                                                                :ret {:op :keys,
                                                                                                      :req {:publication/version :keyword,
                                                                                                            :publication/valid-from :any,
                                                                                                            :publication/valid-until :any,
                                                                                                            :publication/invalidates-previous-publications-until :any,
                                                                                                            :publication/self-identifier :any,
                                                                                                            :publication/relations :vector}}}}},
                                                            publication-message {:arities {2 {:args [{:op :keys,
                                                                                                      :req {:name :string,
                                                                                                            :email :string,
                                                                                                            :ssh-key-id/public-key-path :string,
                                                                                                            :ssh-key-id/private-key-path :string}}
                                                                                                     {:op :keys,
                                                                                                      :req {:publication/version :keyword,
                                                                                                            :publication/valid-from :any,
                                                                                                            :publication/valid-until :any,
                                                                                                            :publication/invalidates-previous-publications-until :any,
                                                                                                            :publication/self-identifier :any,
                                                                                                            :publication/relations :vector}}],
                                                                                              :ret :any}}},
                                                            publication-message-envelope {:arities {2 {:args [:any :any],
                                                                                                       :ret {:op :keys,
                                                                                                             :req {:publisher :any,
                                                                                                                   :message-schema :any,
                                                                                                                   :message :any},
                                                                                                             :nilable true}}}}},
                                        prspct.resolution {resolve-relgraph {:arities {2 {:args [:vector :vector],
                                                                                          :ret :any}}},
                                                           relgraph->resolved-contexts {:arities {2 {:args [:any :set],
                                                                                                     :ret :map}}},
                                                           resolve-fixed-point-contexts-relgraph {:arities {4 {:args [:vector
                                                                                                                      :vector
                                                                                                                      :set
                                                                                                                      :int],
                                                                                                               :ret :seqable}}},
                                                           resolve-config {:arities {3 {:args [{:op :keys,
                                                                                                :req {:user-config-options {:op :keys,
                                                                                                                            :req {:sources :map,
                                                                                                                                  :publishers :map,
                                                                                                                                  :publish-identities :map,
                                                                                                                                  :publish-configs :map,
                                                                                                                                  :default-publish-configs :vector}},
                                                                                                      :user-contexts :vector}}
                                                                                               :any
                                                                                               :any],
                                                                                        :ret {:op :keys,
                                                                                              :req {:user-config-options {:op :keys,
                                                                                                                          :req {:sources :map,
                                                                                                                                :publishers :map,
                                                                                                                                :publish-identities :map,
                                                                                                                                :publish-configs :map,
                                                                                                                                :default-publish-configs :vector}},
                                                                                                    :working-contexts :vector,
                                                                                                    :resolved-self-contexts :map}}}}}}}}}}
