{:sources 
 {:underties
  {:source/fn prspct.message-transfer/shell-source
   :source/args
   ["scp" "-r" "prspct@alpha.underties.net:/srv/prspct/" :output-dir]}}

 :publishers 
 {:underties 
  {:publisher/fn prspct.message-transfer/shell-publisher
   :publisher/args 
   ["find" :input-dir "-name" "*.eml" "-exec" "scp" "{}" "prspct@alpha.underties.net:/srv/prspct" ";"]}}

 :publish-identities
 {:main-identity
  {:name "<YOUR_NAME>"
   :email "<YOUR_EMAIL>"
   :ssh-key-id/public-key-path "<PATH_TO_YOUR_PUBLIC_KEY>"
   :ssh-key-id/private-key-path "<PATH_TO_YOUR_PRIVATE_KEY>"}}

 :publish-configs
 {:underties
  {:publisher :underties
   :identity :main-identity}}

 :np.contacts/configs
 [{:ctx "#contacts" 
    :under-namespace :contacts}]}
