{:sources 
 {:underties
  {:source/fn prspct.message-transfer/shell-source
   :source/args
   ["scp" "-r" "prspct@alpha.underties.net:/srv/prspct/" :output-dir]}}

 :publishers 
 {:underties 
  {:publisher/fn prspct.message-transfer/shell-publisher
   :publisher/args 
   ["find" :input-dir "-name" "*.eml" "-exec" "scp" "{}" "prspct@alpha.underties.net:/srv/prspct" ";"]}}

 :publish-identities
 {:main-identity
  {:name :fill-in-your/name
   :email :fill-in-your/email
   :ssh-key-id/public-key-path :fill-in-your/public-key-path
   :ssh-key-id/private-key-path :fill-in-your/private-key-path}}

 :publish-configs
 {:underties
  {:publisher :underties
   :identity :main-identity}}

 :default-publish-configs
 [:underties]}
