(ctx "#" {:np/publish-to 
          [{:publisher :underties
            :name "<YOUR_NAME>"
            :email "<YOUR_EMAIL>"
            :ssh-key-id/public-key-path "<PATH_TO_YOUR_PUBLIC_KEY>"
            :ssh-key-id/private-key-path "<PATH_TO_YOUR_PRIVATE_KEY>"}]
          :np/publishers 
          {:underties 
           {:publisher/fn prspct.message-transfer/shell-publisher
            :publisher/args 
            ["find" :input-dir "-name" "*.eml" "-exec" "scp" "{}" "prspct@alpha.underties.net:/srv/prspct" ";"]}}
          :np/sources 
          {:underties
           {:source/fn prspct.message-transfer/shell-source
            :source/args
            ["scp" "-r" "prspct@alpha.underties.net:/srv/prspct/" :output-dir]}}
          :np.contacts/configs [{:ctx "#contacts" 
                                 :under-namespace :contacts}]} 

     (ctx "self"
          (->> "email:<YOUR_EMAIL>" "#self" :public)
          (->> "uri:<YOUR_WEBSITE/GITHUB/SOURCEHUT>" "#self" :public)
          (->> "ssh-key:<YOUR_SSH_PUBLIC_KEY_WITHOUT_COMMENT>" "#self" :public))
     (ctx "contacts"
          (ctx "ds"
               (->> "uri:https://git.sr.ht/~decentstates" "#self")
               (->> "email:ds@decentstates.com" "#self")
               (->> "ssh-key:ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOirp5rceowRPLnkCT2/vlTPgxtRWPeKdMIPnJ7ixJfi" "#self")))
     (ctx "underties"
          (->> :contacts/ds "#underties" :public)))
