(ctx "#self"
     (->> "email:<YOUR_EMAIL>" "#self" :public)
     (->> "uri:<YOUR_WEBSITE/GITHUB/SOURCEHUT>" "#self" :public)
     (->> "ssh-key:<YOUR_SSH_PUBLIC_KEY_WITHOUT_COMMENT>" "#self" :public))
(ctx "#contacts.ds"
     (->> "uri:https://git.sr.ht/~decentstates" "#self")
     (->> "email:ds@decentstates.com" "#self")
     (->> "ssh-key:ssh-ed25519 AAAAC3NzaC1lZDI1NTE5AAAAIOirp5rceowRPLnkCT2/vlTPgxtRWPeKdMIPnJ7ixJfi" "#self"))
(ctx "#underties"
     (->> :</contacts.ds "#underties" :public))
