{:sources
 {:net-perspective-alpha-source
  {:shell/args
   ;; TODO: Need to set the cwd to the parent of the config file...
   ["scp" 
    "-r" 
    "-i" :fill-in-your/private-key-path 
    "-F" "none"
    "prsp@alpha.net-perspective.org:/srv/prsp/."
    :output-dir]}}

 :publishers 
 {:net-perspective-alpha-publisher 
  {:shell/args
   ["scp"
    "-r"
    "-i" :fill-in-your/private-key-path
    "-F" "none"
    :input-dir-slash-dot
    "prsp@alpha.net-perspective.org:/srv/prsp/"]}}

 :publish-identities
 {:main-identity
  {:name :fill-in-your/name
   :email :fill-in-your/email
   :ssh-key-id/public-key-path :fill-in-your/public-key-path 
   :ssh-key-id/private-key-path :fill-in-your/private-key-path}}

 :publish-configs
 {:net-perspective-alpha-publish-config
  {:publisher :net-perspective-alpha-publisher
   :identity :main-identity}}

 :default-publish-configs
 [:net-perspective-alpha-publish-config]}
