{:linters {:unused-namespace 
           {:exclude [taoensso.telemere 
                      taoensso.truss
                      prspct.schemas
                      cognitect.anomalies

                      ;; Testing:
                      clojure.test.check.generators
                      com.gfredericks.test.chuck.clojure-test
                      com.gfredericks.test.chuck.generators]}
                      

           :unused-referred-var 
           {:exclude {taoensso.truss [have have! have!? have? ex-info! try* unexpected-arg!]
                      
                      ;; Testing:
                      clojure.test [testing deftest]
                      com.gfredericks.test.chuck.clojure-test [checking]}}}
                               
 :list-as {clojure.test.check.generator/let clojure.core/let
           com.rpl.specter/defcollector clojure.core/defn
           com.rpl.specter/defdynamicnav clojure.core/defn
           com.rpl.specter/defmacroalias clojure.core/def
           com.rpl.specter/defnav clojure.core/defn
           com.rpl.specter/defrichnav clojure.core/defn}}
